<h1>Listado de Personas</h1>
<!-- 
    Mediante interpolación "{{VARIABLE}}"  podemos expandir atributos o llamar a metodos 
    de las clases.
    Dentro podemos poner tambien operaciones o expresiones
-->
<p>
  Nombre: {{nombre}} 
  Edad: {{edad}}
  Peso en Kg: {{peso}}
  Peso en libras: {{convertirPesoALibras()}}
  Peso en Kg propuesto para verano (operacion bikini): {{peso - 5}}
</p>

<!--   
  Aplicamos propertie binding para traer el valor del componente.
  Para aplicar PB, ponemos la propiedad entre corchetes y como valor, el nombre
  de la propiedad del fichero .ts
  
  En este ejemplo, ocultaremos o deshabilitaremos el botón de manera programática.
-->
<button [disabled]='botonHabilitado' [style]='botonOculto'>Agregar Persona</button>
<br/>
<!--  
  Aplicaremos también event binding, para recoger los eventos en el componente
-->
<button (click)="cambiarEstadoHabilitado()">Habilitar/Deshabilitar 'Agregar Persona'</button>
<button (click)="cambiarEstadoOculto()">Ocultar/Visualizar 'Agregar Persona'</button>
<br/>

<!--
  Aplicammos two way binding, podemos actualizar desde el html al componente o a 
  la inversa. Usaremos la directiva [(ngModel)] igualandola a una propiedad
-->
<h4>Inserta la profesión de la persona</h4>
<input type="text" [(ngModel)]="profesion"/>
<p>Replicando: {{profesion}}</p>

