
<!-- Routing o navegación declarativa desde la vista -->
<!-- 
  Mediante el atributo routerLink establecemos el 'path' que hemos declarado en
  el fichero app-routing.module.ts. (NO usamos href!)
-->

<nav>
  <ul>
    <li><a routerLink="/bienvenida">Inicio</a></li>
    <li><a routerLink="/componente1">Componente1</a></li>
    <li><a routerLink="/componente1">Servicios</a></li>
    <li><a routerLink="/componente1">Blog</a></li>
    <li><a href="https://www.google.es">Ir a Google</a></li>
  </ul>
</nav>
